{% extends "app/base_site.html" %}

{% block title %} Lista de Membros da Equipe {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Membros da Equipe <small>Lista</small></h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
           <form class="form-horizontal" action="." method="get">
            <div class="input-group">
              <input id="search_box" name="search_box" type="text" class="form-control" placeholder="Pesquisar por nome..." value="{{ request.GET.search_box }}">
              <span class="input-group-btn">
                <button class="btn btn-default form-control" type="submit">Ir</button>
              </span>
            </div>
           </form>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Membros da Equipe</h2>
              <ul class="nav navbar-right panel_toolbox">
                <!-- <li><a href="" class="collapse-link btn btn-dark btn-xs"><i class="fa fa-plus"><b> Add</b></i></a> -->

                  <a href="{% url 'projeto:membro_equipe_add' %}">
                    <button type="button" class="collapse-link btn btn-primary btn-circle btn-xs btn-raised pull-right" style="margin-right: 20px" data-toggle="tooltip" data-placement="top" title="Adicionar"><i class="fa fa-plus fa-lg"></i></button>
                  </a>
                            
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div id="listItems" class="x_content">

              {% if object_list.count > 0 %}

              <table class="table table-striped projects">
                <thead>
                  <tr>
                    <th style="width: 1%">#</th>
                    <th style="width: 40%">Nome</th>
                    <th style="width: 25%">Projeto</th>
                    <th style="width: 20%">#Ações</th>
                  </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                  <tr>
                    <td>{{object.id}}</td>
                    <td>
                      {% if object.nome_membro %} {{object.nome_membro}} {% else %} - {% endif %}
                    </td>
                    <td>
                      {% if object.projeto %} {{object.projeto.nome}} {% else %} - {% endif %}
                    </td>
   
                    <td>
                      <div class="cent">
                        <a href="{% url 'projeto:membro_equipe_detalhar' object.id %}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Ver </a>
                        <a href="{% url 'projeto:membro_equipe_editar' object.id %}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Editar </a>

                        <a href="#" class="btn btn-danger btn-xs deleteItem" data-toggle="modal" data-id="{{ object.id }}">
                          <i class="fa fa-trash-o">Deletar</i>
                        </a>
                        
                      </div>
                      

                    </td>
                  </tr>

                {% endfor %}  
                </tbody>
              </table>
              {% else %}
              Sem itens na lista

              {% endif %}              

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}

  <script>
  $('#listItems').on('click', '.deleteItem', function(e){
    e.preventDefault();
    var id = $( this ).attr("data-id"),
    linha_editada = $(e.currentTarget).closest('tr');
    token = "{{csrf_token}}";
      // verifico o protocolo
    if (window.location.protocol == 'http:') {
      urlDel = "http://{{ request.get_host }}/projeto/membro/"+ id +"/deletar";
    }else{
      urlDel = "https://{{ request.get_host }}/projeto/membro/"+ id +"/deletar";
    }
    swal({
      title: "Deletar Permanentemente!",
      text: "Deseja realmente deletar?",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#DD6B55",
      confirmButtonText: "SIM",
      cancelButtonText: "CANCELAR",
      closeOnConfirm: false
    }, function(){
      //window.location.href = "http://localhost/ce/public/admin/gerenciarbanco/delete/"+id;
      $.ajax({
        url: urlDel,
        type: 'get',
        //data: { csrfmiddlewaretoken: token },
      })
      .done(function(d){
        if ( d.code == 1 ){
          swal('Excluido!','Excluido com sucesso!',"success");
          linha_editada.hide();
        }
      })
      .fail(function(f){
        swal('Falha!','Erro ao excluir!',"error");
      });
    });
  });
  </script>

{% endblock javascripts %}
