{% extends "app/base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-archive"></i> Total de Projetos</span>
        <div class="count">{{ projeto.count }}</div>
        <!-- <span class="count_bottom"><i class="green"></i> From last Week</span> -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-archive"></i> Projetos concluidos</span>
        <div class="count">{{ concluido.count }}</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{ por_concluido |floatformat:2  }} % </i> dos Projetos</span>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-archive"></i> Projetos em andamento</span>
        <div class="count green">{{ em_andamento.count }}</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{ por_em_andamento |floatformat:2  }} % </i> dos Projetos</span>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-archive"></i> Projetos atrasados</span>
        <div class="count">{{ atrasado.count }}</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{ por_atrasado |floatformat:2  }} % </i> dos Projetos</span>
      </div>

<!--       <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Connections</span>
        <div class="count">7,325</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
      </div> -->
    </div>

    <div class="row">

      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel tile fixed_height_320">
          <div class="x_title">
            <h2>Top Orçamento</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>            
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <h4>Projetos com maiores orçamentos previstos (R$)</h4>
            {% for o in orcamento_pre %}

              <div class="widget_summary">
                <div class="w_left w_55">
                  <span>{{o.nome}}</span>
                </div>
                <div class="w_center w_15">
                </div>
                <div class="w_right w_30">
                  <span><small>{{ o.orcamento_previsto |floatformat:2 }} R$</small></span>
                </div>
                <div class="clearfix"></div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel tile fixed_height_320">
          <div class="x_title">
            <h2>Top Orçamento</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>            
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <h4>Projetos com maiores orçamentos executados (R$)</h4>
            {% for o in orcamento_exe %}

              <div class="widget_summary">
                <div class="w_left w_55">
                  <span>{{o.nome}}</span>
                </div>
                <div class="w_center w_15">
                </div>
                <div class="w_right w_30">
                  <span><small>{{ o.orcamento_executado |floatformat:2 }} R$</small></span>
                </div>
                <div class="clearfix"></div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>

  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
{% endblock javascripts %}
